body {
    font-family: 'Roboto', sans-serif;

}

.navbar {
    background-color: #274690;

}

.navbar .nav-link,
.navbar-brand {
    color: #F5F3F5;
    font-size: 20px;
    text-decoration: none;

}

.navbar .nav-link:hover {
    color: #302B27;
}

.navbar .navbar-brand:hover {
    color: #302B27;
}

.navbar-btn {
    font-size: 20px;
    color: #F5F3F5;
    background-color: #302B27;
    text-decoration: none;
    border-radius: 20px;
}

.navbar-btn:hover {
    background-color: #aa1717;
    color: #302B27;
}


/*general classes*/

.max-viewport {
    min-height: 100vh
}

.no-padding {
    padding: 0;
}

/*banner*/

#banner {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/banner-background.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title-underline {
    width: 125px;
    border: 3px solid #274690;
    margin: 0 auto;
}


.banner-btn {
    font-size: 30px;
    color: #F5F3F5;
    background-color: #274690;
    text-decoration: none;
    border-radius: 20px;
}

.banner-btn:hover {
    color: #274690;
    background-color: #F5F3F5;
}

/*start*/

#start {
    background-color: #274690;
    color: #F5F3F5;
}

#start .tite-underline {
    border-color: #F5F3F5;
}

.starter-btn {
    font-size: 30px;
    color: #274690;
    background-color: #F5F3F5;
    text-decoration: none;
    border-radius: 20px;
}

.starter-btn:hover {
    color: #274690;
    background-color: #302B27;
}

/*contact*/

#contact {
    background-color: #302B27;
}



#contact .input-group-addon {
    background-color: #274690;
    color: #F5F3F5;
}


#contact ::-webkit-input-placeholder {
    color: #274690;
}

/*interests*/

#interests {
    background-color: #F5F3F5;
}

#interests .card {
    border: 2px solid rgb(39, 70, 144);
    color: #274690;
    background-color: #F5F3F5;
    transition: transform 4s ease-in-out;
}

#interests .card:hover {
    box-shadow: 3px 3px 3px #302B27;
    background-color: #CED0CE;
    transform: scale(0.8);
}



#interests .fa {
    font-size: 60px;
}

/*portfolio*/

#portfolio .img-holder {
    background: linear-gradient(rgba(39, 70, 144, 0.9), rgba(39, 70, 144, 0.9));
    overflow: hidden;
    position: relative;
}

#portfolio .img-holder img {
    transition: transform 4s ease-in-out;
}

#portfolio .img-holder:hover img {
    opacity: 0.4;
    transform: scale(1.3)
}

#portfolio .inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#portfolio .img-holder:hover .inner-text {
    visibility: visible;
}

/*dowload*/

#download {
    background-color: #302B27;
    color: #F5F3F5;
}

.download-btn {
    font-size: 30px;
    color: #F5F3F5;
    background-color: #274690;
    text-decoration: none;
    border-radius: 20px;
}

.download-btn:hover {
    color: #274690;
    background-color: #F5F3F5;
}

/*contact info*/

#contact-info {
    background-color: #274690;
    color: #F5F3F5;
}

#contact-info .title-underline {
    border-color: #302B27;
}

#contact-info .fa {
    font-size: 60px;
}
