body {
    font-family: 'Permanent Marker', cursive;

}

/*colors*/

.primary-color-background {
    background-color: #F15025;
}

.primary-color {
    color: #f15025
}

/*max viewport*/

.max-viewport {
    min-height: 100vh;
}


/*viewport-60*/

.viewport-60 {
    min-height: 60vh;
}

.viewport-40 {
    min-height: 40vh;
}

/*########################filer-2##############################*/

#filler-2 {
    background: linear-gradient(rgba(241, 80, 37, 0.9), rgba(0, 0, 0, 0.3));
}

/*#############################filler-3#############################*/

#filler-3 {

    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url(images/projects-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



/*###########################basic-cards#########################*/

.title-color {
    color: #353531;
}

.title-underline {
    width: 100px;
    border: 2px solid #f15025;
    margin: 0 auto;

}

/*already in the top*/

.primary-color {
    color: #f15025
}

/*###########################bakcground-photo###################*/

/*background photo*/

#background-photo,
#banner-form,
#banner-form-2,
#form-filler,
#filler-progress,
#background-icons,
#social-background   {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/projects-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*paragraph-color*/

.paragraph-color {
    color: #CED0CE;
}

/*############ team #############*/

/*already on the top*/

.primary-color-background {
    background-color: #F15025;
}

/*############## banner-form ###############*/

#banner-form .card {
    background: rgba(0, 0, 0, 0.5);
}

#banner-form .card:hover {
    background: rgba(0, 0, 0, 0.8);
}


/*##########################photos-about###########################*/

.no-padding {
    padding: 0;
}

/*##########################banner-form-2###########################*/

#banner-form-2 .form-control {
    background: transparent;
    border: none;
    font-size: 2.5em;
    border-radius: 0;
    border-bottom: 3px solid white;
}

#banner-form-2 .form-btn {
    font-size: 2.5em;
    border-radius: 0;
    background-color: transparent;
    color: #F15025;
    border: 3px solid white;
}

#banner-form-2 .form-btn:hover {
    background-color: #F15025;
    color: #CED0CE;
    border: 3px solid #F15025;

}

#banner-form-2 input[type="text"]::-webkit-input-placeholder {
    color: white;
}

/*##########################masonry-images###########################*/

#masonry-images .img-container {
    background: rgba(0, 0, 0, 0.7);
    position: relative;


}

#masonry-images .img-container:hover img {
    opacity: 0.5;
}

#masonry-images .img-container .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    visibility: hidden;

}

#masonry-images .img-container:hover .fa {
    visibility: visible;
}

/*##########################pricing-cards###########################*/

#pricing-cards {
    background: rgb(241, 80, 37);
}

#pricing-cards .dollar-sign {
    font-size: 3em;
}



#pricing-cards .first {
    border-top: none!important;
}

/*##########################skills-2###########################*/

#skills-2 .fa {
    font-size: 1.5em;
    color: #F15025;
    padding: 1em;
    border-radius: 50%;
    background-color: #353531;
}

#skills-2 hr {
    margin-top: -39px;
    border: 3px solid #353531;
    width: 150%;
    margin-right: 10em;

}

#skills-2 .hr-1 {

    width: 100%;
    margin-left: 9.7em;
}

#skills-2 .hr-2 {

    width: 150%;
    margin-right: 10em;
}


/*######################about-background############*/

#about-background {
    background-color: rgb(47, 51, 70);
}

#about-background .background-image {
    background: url(images/projects-4.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 400px solid transparent;
    border-right: 150px solid #2f3346;
}

/*###############progress-bars###############*/

#progress-bars {
    background-color: rgba(241, 80, 37, 0.8);
}

.progress-underline {
    width: 70px;
    border: 2px solid #CED0CE;

}

/*###############filler-progress###############*/

#filler-progress .progress-bar {
    background: #F15025;
}

/*#############projects-3###############*/

#projects-3 .card {
    border: none;
}


#projects-3 .img-container {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}



#projects-3 img {
    transition: transform 4s ease-in-out;
}



#projects-3 .img-text {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #F15025;
    visibility: hidden;
}


#projects-3 .img-container:hover img {
    transform: scale(1.3);
    opacity: 0.7;

}


#projects-3 .img-container:hover .img-text {
    visibility: visible;
}

#projects-3 .card a {
    text-decoration: none;
}

#projects-3 .card a:hover {
    color: #CED0CE;

}

/*#########################flex-skills#############################*/

#flex-skills .title-underline {
    margin: 0 0 5px 0;
    width: 60px;
}

#flex-skills .fa {
    color: #F15025;
    font-size: 30px;
}

/*#########################checkboxes#############################*/

#checkboxes {
    background-color: #CED0CE;
}

#checkboxes .fa {
    color: #F15025;
    font-size: 30px;
    background-color: #2D3142;
    padding: 5px;
}

#checkboxes p {
    color: #2D3142;
}

/*#########################background-icons#############################*/

#background-icons .fa {
    color: #F15025;
    font-size: 60px;
}

/*#########################accordion-section#############################*/

#accordion-section a {
    text-decoration: none;
    color: #CED0CE;
}

#accordion-section .card-header {
    background-color: #F15025;
}

/*#########################social-background#############################*/

#social-background {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/projects-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#social-background .fab {
    font-size: 30px;
    background-color: black;
    color: #F15025;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #F15025
}

#social-background .fab:hover {
    background-color: whitesmoke;
}

/*#########################team-bricks#############################*/

#team-bricks .text-holder {
    position: relative;
    overflow: hidden;
}


#team-bricks img {
    opacity: 0.6;
    transition: transform 4s ease-in-out;
}

#team-bricks .text-holder:hover img {
    transform: scale(1.3);
    opacity: 1;
}

#team-bricks .inner-text {
    position: absolute;
    left: 5%;
    bottom: 0;
    visibility: hidden;
}

#team-bricks .text-holder:hover .inner-text {
    visibility: visible;
}

/*#########################dark-cards#############################*/

#dark-cards {
    background-color: #353531;
}



#dark-cards .top-icon {
    margin-top: -100px;
    font-size: 70px;
    color: #F15025;
    border-radius: 50%;
    padding: 20px;
    background-color: #353531;

}



#dark-cards .card {
    background-color: transparent;
    border: 2px solid #F15025;
    border-radius: 0;
    transition: transform 4s ease-in-out;
}

#dark-cards .card:hover {
    transform: translateY(-5%)
}

#dark-cards .list-group-item {
    background-color: transparent;
    color: white;
    border: none;
}

#dark-cards .list-group-item:hover {
    background-color: rgba(241, 80, 37, 0.6);
}

#dark-cards .card .click-button {
    color: #F15025;
    background-color: transparent;
    border: 2px solid #F15025;
    border-radius: 0;
}

#dark-cards .card .click-button:hover {
    background-color: rgba(241, 80, 37, 0.6);
    color: #353531;
}

/*#########################color-icons#############################*/

#card-icons .card:hover {
    background-color: #CED0CE;
}








/*#########################color-blocks#############################*/

#color-blocks .col-lg-4 {
    position: relative;

}


#color-blocks img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}

#color-blocks .col-lg-3:hover img {
    opacity: 0.7;
}

/*#########################banner-video#############################*/

#banner-video {

    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url(images/projects-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



#banner-video .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #353531;
    border-radius: 0;
}

#banner-video input::-webkit-input-placeholder {
    color: #F15025;
}

#banner-video .form-btn {
    font-size: 1.5;
    background-color: transparent;
    border: 3px solid #353531;
    color: #F15025;
    border-radius: 20px;

}

#banner-video .form-btn:hover {
    background-color: #F15025;
    color: #353531;
}

/*#########################basic-carousel#############################*/

/*#########################banner-photo#############################*/
#banner-photo    {
    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url(images/projects-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#banner-photo .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #353531;
    border-radius: 0;
}

#banner-photo input:: -webkit-input-placeholder{
    color: #F15025;
}

#banner-photo .form-btn{
    font-size: 1.5em;
    background-color: transparent;
    border:3px solid #353531;
    color: #F15025;
    border-radius: 20px;
}

#banner-photo .form-btn:hover{
    background-color: #F15025;
    color: #353531;
}
